---
http_interactions:
- request:
    method: post
    uri: http://api2.transloadit.com/templates
    body:
      encoding: UTF-8
      string: params=%7B%22auth%22%3A%7B%22key%22%3A%22%22%7D%2C%22name%22%3A%22foo%22%2C%22template%22%3A%7B%22key%22%3A%22value%22%7D%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ok":"TEMPLATE_CREATED","template_name":"foo","template_content": {"key": "value"}}'
  recorded_at: Thu, 25 Aug 2016 10:13:31 GMT
recorded_with: VCR 3.0.3
