---
http_interactions:
- request:
    method: post
    uri: http://api2.transloadit.com/assemblies
    body:
      encoding: UTF-8
      string: params=%7B%22steps%22%3A%7B%22a479db2c601661d8f914caf9cf258c0b%22%3A%7B%22robot%22%3A%22%2Fvideo%2Fthumbs%22%7D%7D%2C%22redirect_url%22%3A%22http%3A%2F%2Ffoo.bar%2F%22%2C%22auth%22%3A%7B%22key%22%3A%22%22%7D%2C%22file_0%22%3A%22%23%3CFile%3A0x00000100c63738%3E%22%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 413
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ! '{"error":"RATE_LIMIT_REACHED","message":"Request limit reached", "info":{"retryIn":0}}'
  recorded_at: Fri, 08 Mar 2013 15:13:10 GMT
[...]
- request:
    method: post
    uri: http://api2.transloadit.com/assemblies
    body:
      encoding: UTF-8
      string: params=%7B%22steps%22%3A%7B%22a479db2c601661d8f914caf9cf258c0b%22%3A%7B%22robot%22%3A%22%2Fvideo%2Fthumbs%22%7D%7D%2C%22redirect_url%22%3A%22http%3A%2F%2Ffoo.bar%2F%22%2C%22auth%22%3A%7B%22key%22%3A%22%22%7D%2C%22file_0%22%3A%22%23%3CFile%3A0x00000100c63738%3E%22%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 413
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ! '{"error":"RATE_LIMIT_REACHED","message":"Request limit reached", "info":{"retryIn":0}}'
  recorded_at: Fri, 08 Mar 2013 15:13:10 GMT
recorded_with: VCR 2.4.0
