name: CI
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - 3.0
          - 3.1
          - 3.2
          - 3.3
          - jruby
          - truffleruby
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install -g tsx
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec standardrb
      - run: COVERAGE=false TEST_NODE_PARITY=1 bundle exec rake test
